.transaction-parent-container{
    width: 100%;
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.25);
    border-radius: 15px;
    /* padding: 20px; */
    margin-top: 40px;
}

.transaction-header-container{
    /* height: 3.125rem; */
    display: flex;
    align-items: center;
}

.transaction-header-item{
    padding: 10px 20px;
    cursor: pointer;
}

.transaction-header-active{
    background-color: var(--primary-color-light);
    border-top: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    font-weight: 600;
}

.transaction-category-container{
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--primary-color-light);
}

.transaction-category-btn{
    padding: 3px 10px;
    background-color: transparent;
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    border-radius: 5px;
}

.transaction-category-btn:nth-child(2){
    margin-left: 20px;
}

.transaction-category-btn-active{
    background-color: var(--secondary-color);
    color: white;
    font-weight: 600;
}