.request-promo-outeroverlay{
    width: 100%;
    height: 100%;
    background-color: rgba(72, 81, 102, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    /* display: none; */
}

.request-promo-open{
    display: block;
}
.request-promo-close{
    display: none;
}



.request-promo-form{
    width: 27.5rem;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    z-index: 2;
    border-radius: 15px;
}

.request-promo-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.875rem;
}

.request-promo-title{
    font-size: 1rem;
    font-weight: 600;
}

.request-promo-cross-btn{
    font-size: 30px;
    color: var(--primary-color);
    cursor: pointer;
}

.request-promo-phno-input-container{
    width: 100%;
    height: 40px;
    position: relative;
    margin-bottom: 1.875rem;
}

.request-promo-phno-input{
    width: 100%;
    height: 100%;
    padding-left: 50px;
    border: 3px solid var(--primary-color);
    border-radius: 5px;
}

.request-promo-phno-input-container p{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-size: 0.875rem;
    font-weight: 500;
    color: #676974;
    pointer-events: none;
}

.request-promo-role-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.875rem;
}

.request-promo-role-container p{
    font-size: 1rem;
    font-weight: 500;
    color: #676974;
    pointer-events: none;
}

.request-promo-role-container select{
    background-color: white;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    width: 150px;
    height: 30px;
    
}

.request-promo-remark-container{
    width: 100%;
    height: 9.375rem;
    /* position: relative; */
    margin-bottom: 1.875rem;
}

.request-promo-remark-input{
    width: 100%;
    height: 100%;
    padding-left: 10px;
    border: 3px solid var(--primary-color);
    border-radius: 5px;
    resize: none;
}

.request-promo-btn{
    padding: 10px 60px;
    border: none;
    background-color: var(--secondary-color);
    font-size: 1rem;
    color: white;
    border-radius: 5px;
    /* text-align: center; */
    display: block;
    margin: auto;
}

.opstaff-id-input-container, .refree-id-input-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.875rem;
}

.opstaff-id-input-container p, .refree-id-input-container p{
    font-size: 1rem;
    font-weight: 500;
    color: #676974;
    pointer-events: none;
}

.opstaff-id-input-container input, .refree-id-input-container input{
    width: 10.938rem;
    height: 30px;
    border: 3px solid var(--primary-color);
    border-radius: 5px;
}