@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    /* overflow-x: hidden; */
}

/* body{
    padding: 0;
    border: 0;
    box-sizing: border-box;
} */

button{
    cursor: pointer;
    display: inline-block;
}

table{
  width: 100%;
  text-align: center;
  border: none;
  table-layout: fixed;
  /* display: block; */
}

tbody{
  display: block;
  height: 300px;
  overflow-y: scroll;
}

tr{
  display: table;
  width: 100%;
  table-layout: fixed;
}

:root{
    --primary-color: #D9DEED;
    --primary-color-light: #F2F5F8;
    --secondary-color: #FF5B5B;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

@media screen and (max-width:1600px){
    *{
        font-size: 14px;
    }
}

@media screen and (max-width:1000px){
  *{
    font-size: 12px;
}
}

