.threed-parent-container{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-gap: 10px;
    /* grid-template-rows: 1fr; */
}

.threed-view-container{
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.25);
    border-radius: 15px;
    padding-bottom: 20px;
}

.threed-navbar{
    display: flex;
    align-items: center;
}

.threed-navbar p{
    padding: 10px;
    /* border-right: 1px solid black; */
    font-size: 1rem;
    cursor: pointer;
}

.threed-navbar .active{
    color: var(--secondary-color);
    font-weight: 600;
    background-color: var(--primary-color-light);
    border-top: 2px solid var(--secondary-color);
}

.threed-op-record-parent-container{
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.25);
    border-radius: 15px;
    padding: 20px;
}

.threed-op-record-header{
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1.875rem;
}

.threed-op-record-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    margin-top: 20px;
}

.threed-op-record-number-container{
    display: flex;
    align-items: center;
}

.threed-op-record-number-container p{
    padding: 2px 10px;
    font-size: 1rem;
    border-radius: 50%;
    background-color: var(--secondary-color);
    color: white;
}

.threed-op-record-number-container p:not(:last-child){
    margin-right: 5px;
}

.threed-history-link{
    display: none;
}

@media screen and (max-width:1200px){
    .threed-parent-container{
        grid-template-columns: 1fr;
        position: relative;
    }

    .threed-history-link{
        display: inline-block;
        /* float: right; */
        margin-left: auto;
        cursor: pointer;
        color: var(--secondary-color);
        border-radius: none;
    }

    .threed-op-record-parent-container{
        display: none;
        position: absolute;
        right: -400px;
        top: 0;
        width: 250px;
        z-index: 20;
        background-color: white;
    }

    .threed-op-record-parent-container-open{
        display: block;
        right: 0;
        
    }
}
